


							
					<script type="text/html" id="tmpl-osm-marker-input">
			<div class="locate">
				<a class="dashicons dashicons-location" data-name="locate-marker">
					<span class="screen-reader-text">
						Localiser le marqueur					</span>
				</a>
			</div>
			<div class="input">
				<input type="text" data-name="label" />
			</div>
			<div class="tools">
				<a class="acf-icon -minus small light acf-js-tooltip" href="#" data-name="remove-marker" title="Retirer le marqueur"></a>
			</div>
		</script>
		<script type='/.text/javascript'>
window.lazySizesConfig = window.lazySizesConfig || {};

window.lazySizesConfig.lazyClass    = 'lazyload';
window.lazySizesConfig.loadingClass = 'lazyloading';
window.lazySizesConfig.loadedClass  = 'lazyloaded';

lazySizesConfig.loadMode = 1;
</script>
<script type='text/javascript' src='./js/smush-lazy-load.minccfb.js?ver=3.4.2'></script>
<script type='text/javascript'>
lazySizes.init();
</script>

